$tono-oscuro: #74610d;
$dorado: #d2ae6d;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: $tono-oscuro;
    text-decoration: none;
    list-style: none;
}

header {
    img {
        width: 100%;
        margin: 0px;
        margin-bottom: 2rem;
    }
}

.abajo {
    display: block;
    width: 3rem;
    margin: 0px auto;
    margin-top: 3rem;
    margin-bottom: 3.2rem;
    text-align: center;
}

.noscasamos {
    text-align: center;

    img {

        top: 20%;
        width: 80%;
        text-align: center;

    }
}

.celebremos {
    background-color: #d3c2a4;
    text-align: center;

    img {
        width: 8rem;
        margin: 1rem;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
    }

    p {
        padding: 1rem;
        color: #74610d;
        font-family: 'Montserrat', sans-serif;
        line-height: 2rem;
        margin: 0px;
    }

    .btn {
        background-color: white;
        opacity: 90%;
        color: $tono-oscuro;
        border: $tono-oscuro;
        margin: 0.5rem;
        &:focus{
            background-color: white;
            color:$tono-oscuro;
        }
        &:active{
            background-color: white;
            color:$tono-oscuro;
            border: $tono-oscuro
        }
        &:hover{
            background-color: white;
            color:$tono-oscuro;
            border: $tono-oscuro
        }
    }
}

.dresscode {
    @extend .celebremos;
    background-color: white;
}

.regalo {
    @extend .celebremos;
    .modal-body{
        ul{
        text-align: center;
        margin: 0px auto;
    }
    }
.modal-header{
        background-color: #d3c2a4;
    }
.modal-footer{
    button{
        background-color: #d3c2a4;
        color: white;
    }
}
}
.instagram{
    background-color: white;
    img{
    width: 100%;
}
}